BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: true
SpaceInEmptyParentheses: false
MaxEmptyLinesToKeep: 1
